.faqs {
    grid-column: 3/11;
    margin: 200px 0 125px;

    &--list {
        position: relative;
        img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -90%);
            width: 30vw;
            min-width: 450px;
        }
    }

    @media screen and (max-width: 1200px) {
        grid-column: 2/12;
    }
    @media screen and (max-width: 750px) {
        grid-column: 1/13;

        &--list {

            img {
                min-width: 350px;
            }
        }
    }
    @media screen and (max-width: 400px) {
        &--list {
            img {
                min-width: 275px;
            }
        }
    }
}

.faq-row-wrapper {
    position: relative;
    z-index: 50;
    max-width: 1080px;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: 0 -7px 28px rgba(0,0,0,.13);
    .faq-title {
        h2 {
            width: 100%;
            text-align: center;
            padding: 15px 12px;

        }
    }

    .faq-body {
        .faq-row {
            padding: 10px 20px;
            .row-title {
            }

            .row-content {
                padding: 5px 10px;
                .row-content-text {
                }
            }
        }
    }
}