.nav {
	&__local {

		.nav--item {
			padding: 11px 58.4px;
			margin-left: 40px;
			position: relative;
			font-size: 16px;
			svg {
				height: 21.5px;
				margin: 0 0 -4px 4px;
			}

			&.filled-bg {
				background-color: $black;
				color: $white-2;
				border-radius: 4px;
			}
			&.unfilled-bg {
				color: $black;
			}
		}
	}

	@media screen and (max-width: 1000px) {
		display: flex;
		flex-direction: column;
        align-items: flex-end;

        &__local {

            .nav--item {
                padding: 13px 44px;
            }
        }
	}
    @media screen and (max-width: 675px) {
		display: none;
	}
}
