.testimonials {
	margin-bottom: 150px;
	margin-top: 250px;
	position: relative;
	height: 100%;
	&--title {
		position: relative;
		z-index: 20;
		grid-column: 2/12;
		text-align: right;
		font-weight: bold;
		color: $white-2;
		margin-bottom: 10px;
	}

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -45%);
		width: 100vw;
	}

	@media screen and (max-width: 1800px) {
		svg {
			transform: translate(-50%, -50%);
		}
	}
	@media screen and (max-width: 1675px) {
		&--title {
			font-size: 54.9px;
		}
	}
    @media screen and (max-width: 1365px) {
		svg {
			transform: translate(-50%, -60%);
		}
	}
    @media screen and (max-width: 1250px) {
        &--title {
            font-size: 43.95px;
        }
		svg {
			transform: translate(-50%, -65%);
		}
	}
    @media screen and (max-width: 1025px) {
        &--title {
            color: $black;
        }
		svg {
			transform: translate(-50%, -45%) rotateY(3.142rad);
		}
	}
}

.testimony {
	position: relative;
	z-index: 20;

	background-color: $white;
	border-radius: 8px;
	min-height: 555px;
	box-shadow: 0 -11px 38px rgba(0, 0, 0, 0.16);

	grid-column: 2/12;
}
