$primary: #20a9af;
$secondary: #b1d144;
$black: #3e3e3e;
$white: #e3e3e3;
$white-2: #f0f0f0;

@font-face {
	font-family: "Gotham";
	src: url("/fonts/Gotham-Thin.otf");
	font-style: normal;
	font-weight: 100;
	font-display: swap;
}

@font-face {
	font-family: "Gotham";
	src: url("/fonts/Gotham-ThinItalic.otf");
	font-style: italic;
	font-weight: 100;
	font-display: swap;
}

@font-face {
	font-family: "Gotham";
	src: url("/fonts/Gotham-XLight.otf");
	font-style: normal;
	font-weight: 200;
	font-display: swap;
}

@font-face {
	font-family: "Gotham";
	src: url("/fonts/Gotham-XLightItalic.otf");
	font-style: italic;
	font-weight: 200;
	font-display: swap;
}

@font-face {
	font-family: "Gotham";
	src: url("/fonts/Gotham-Light.otf");
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: "Gotham";
	src: url("/fonts/Gotham-LightItalic.otf");
	font-style: italic;
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: "Gotham";
	src: url("/fonts/Gotham-Book.otf");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Gotham";
	src: url("/fonts/Gotham-BookItalic.otf");
	font-style: italic;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Gotham";
	src: url("/fonts/Gotham-Medium.otf");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: "Gotham";
	src: url("/fonts/Gotham-MediumItalic.otf");
	font-style: italic;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: "Gotham";
	src: url("/fonts/Gotham-Bold.otf");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Gotham";
	src: url("/fonts/Gotham-BoldItalic.otf");
	font-style: italic;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Gotham";
	src: url("/fonts/Gotham-Ultra.otf");
	font-style: normal;
	font-weight: 800;
	font-display: swap;
}

@font-face {
	font-family: "Gotham";
	src: url("/fonts/Gotham-UltraItalic.otf");
	font-style: italic;
	font-weight: 800;
	font-display: swap;
}
